###> symfony/framework-bundle ###
/.idea/
.env
/ftptest/
/public/bundles/
/var/
/vendor/
package.json
package-lock.json
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
/public/uploads/
###< symfony/webpack-encore-pack ###