###> symfony/framework-bundle ###
/.idea/
.env
.env.dist
/ftptest/
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
/public/uploads/
###< symfony/webpack-encore-pack ###