{% extends 'base.html.twig' %}

{% block title %}Aide{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/aide.css') }}{% endblock %}

{% block body %}
    <div class="margin-left">
        <h1 class="titre">Novice ? Un problème ?</h1>
        <div class="titre-separation"></div>

        <h2 class="sous-titre sous-titre1">Découvrez nos tutoriels</h2>
            <div class="tutoecrit-groupcontainer">
                <div class="tutoecrit-container">
                    <a class="tutoecrit-a" href="http://bit.ly/2MRPnzP">Tracer son premier itinéraire</a>
                    <div class="tutoecrit-sepa"></div>
                </div>

                <div class="tutoecrit-container">
                    <a class="tutoecrit-a" href="#">Partager son itinéraire</a>
                    <div class="tutoecrit-sepa"></div>
                </div>

                <div class="tutoecrit-container">
                    <a class="tutoecrit-a" href="#">Trouver un itinéraire</a>
                    <div class="tutoecrit-sepa"></div>
                </div>
            </div>


        <h2 class="sous-titre sous-titre4">Vous n’avez pas trouvé de solution ?</h2>
            <p class="fin">Décrivez nous votre problème en nous envoyant un message depuis la page <a href="{{ path('contact') }}" class="fin-contact">Contact</a>, nous saurons peut-être vous répondre</p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}