{% extends 'base.html.twig' %}

{% block title %}Conditions générales{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/conditions.css') }}{% endblock %}

{% block body %}
    <p>Conditions générales</p>
{% endblock %}