{% extends 'base.html.twig' %}

{% block title %}Chercher{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/concepteur.css') }}{% endblock %}

{% block body %}
    <p>Salut</p>
{% endblock %}

{% block javascripts %}
{% endblock %}