{% extends 'base.html.twig' %}

{% block title %}Chercher{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/concepteur.css') }}{% endblock %}

{% block body %}
    {% include 'flash_messages.html.twig' %}
    <p>Hello</p>
{% endblock %}

{% block javascripts %}
{% endblock %}