{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/contact.css') }}{% endblock %}

{% block body %}
    {% include 'flash_messages.html.twig' %}

    <h1 class="titre margin-left">Mot de passe oublié ?</h1>
    <div class="titre-separation margin-left"></div>
{% endblock %}

{% block javascripts %}
{% endblock %}