{% extends 'base.html.twig' %}

{% block title %}Licences{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/licences.css') }}{% endblock %}

{% block body %}
    <div class="margin-left">
        <h1 class="titre">Licences</h1>
        <div class="titre-separation"></div>

        <p>Les avatars Star Wars sont de <a href="https://www.iconfinder.com/sensibleworld">Symbolicons</a> et proviennent de <a href="https://www.iconfinder.com/iconsets/star-wars-color">iconfinder.com</a></p>

        <p>Les icônes proviennent de <a href="https://www.flaticon.com">flaticon.com</a></p>
        <p class="by-p">Ils ont été fait par:</p>
        <ul class="by-ul">
            <li class="by-ul-li">
                (Sous licence <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>)
                <ul>
                    <li><a href="https://www.flaticon.com/authors/dave-gandy">Dave Gandy</a></li>
                    <li><a href="https://www.flaticon.com/authors/google">Google</a></li>
                    <li><a href="https://www.flaticon.com/authors/twitter">Twitter</a></li>
                </ul>
            </li>
            <li class="by-ul-li">
                (Sous licence basique Flaticon)
                <ul>
                    <li><a href="http://www.freepik.com">Freepik</a></li>
                    <li><a href="https://www.flaticon.com/authors/smashicons">Smashicons</a></li>
                    <li><a href="https://www.flaticon.com/authors/gregor-cresnar">Gregor Cresnar</a></li>
                </ul>
            </li>
        </ul>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}