{% extends 'base.html.twig' %}

{% block title %}Licences{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/licences.css') }}{% endblock %}

{% block body %}
    <div class="margin-left">
        <h1 class="titre">Licences</h1>
        <div class="titre-separation"></div>

        <p>La majeur partie des icônes proviennent de <a href="https://www.flaticon.com">flaticon.com</a></p>
    </div>
{% endblock %}