.margin-left{
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 45px;
}

.titre{
    font-weight: 400;
    font-size: 40px;

    line-height: 40px;

    margin-top: 30px;
    margin-bottom: 15px;
}

.sepa-title{
    width: 150px;
    height: 5px;

    background-color: #228A31;
}

.description{
    width: 95%;

    opacity: 0.8;
    font-size: 18px;
}


.author-title{
    font-size: 20px;
}

.author-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.author{
    background: rgba(34,138,36,1);
    background: -moz-linear-gradient(-45deg, rgba(34,138,36,1) 0%, rgba(59,161,76,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(34,138,36,1)), color-stop(100%, rgba(59,161,76,1)));
    background: -webkit-linear-gradient(-45deg, rgba(34,138,36,1) 0%, rgba(59,161,76,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(34,138,36,1) 0%, rgba(59,161,76,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(34,138,36,1) 0%, rgba(59,161,76,1) 100%);
    background: linear-gradient(135deg, rgba(34,138,36,1) 0%, rgba(59,161,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#228a24', endColorstr='#3ba14c', GradientType=1 );
    border-radius: 20px;

    display: flex;
    align-items: center;

    height: 40px;
}

.author p{
    color: white;
    font-weight: 300;

    margin: 0;
    padding: 0 15px 0 5px;
}

.author-avatar{

}

.author-avatarcontainer{
    width: 35px;
    height: 35px;

    background-color: #fff;

    border-radius: 17px;

    margin-left: 2.5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle{
    font-weight: 400;
    font-size: 32px;

    margin-bottom: 6px;
}

.sepa-subtitle{
    width: 50px;
    height: 5px;

    background-color: #228A31;
}

.opensource-toptext, .opensource-bottomtext{
    font-size: 20px;
}

.opensource-bottomtext{
    margin-bottom: 60px;
}


.opensource{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 33px;
}

.opensource-emoji{
    margin-right: 10px;
}

.opensource-gitimg{
    margin-left: 15px;
}

.opensource-bottomtext-emoji{
    margin-bottom: -2px;
    margin-left: 3px;
}




.fonctionnement-text{
    font-size: 24px;

    display: flex;
    align-items: center;

    margin: 5px 0;
}

.fonctionnement-img{
    margin-left: 45px;
}

.fonctionnement-gmapsimg{
    margin-top: -7px;
}

.fonctionnement-questions{
    font-size: 20px;
    font-weight: 300;

    margin-top: 10px;
}

.fonctionnement-questions a{
    text-decoration: underline;
}