.ref{
    z-index: -100;
    position: absolute;
    top: 0;
}

.ref h2, .ref p{
    margin: 0;
    font-size: 10px;
}

#loading {
    width: 100%;
    height: 100%;
    top: 80px;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 99;
    text-align: center;
}

.cssload-container * {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cssload-container ul li{
    list-style: none;
}

.cssload-flex-container {
    margin: 0;
    padding: 0;

    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    justify-content: space-around;
}
.cssload-flex-container li {
    padding: 10px;
    height: 100px;
    width: 100px;
    margin: 0 20px 30px 20px;
    position: relative;
    text-align: center;
}

.cssload-loading, .cssload-loading:after, .cssload-loading:before {
    display: inline-block;
    position: relative;
    width: 7px;
    height: 100px;
    background: rgb(59,161,76);
    margin-top: 5px;
    border-radius: 1000px;
    -o-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    animation: cssload-upDown2 1.15s ease infinite;
    -o-animation: cssload-upDown2 1.15s ease infinite;
    -ms-animation: cssload-upDown2 1.15s ease infinite;
    -webkit-animation: cssload-upDown2 1.15s ease infinite;
    -moz-animation: cssload-upDown2 1.15s ease infinite;
    animation-direction: alternate;
    -o-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    animation-delay: 0.29s;
    -o-animation-delay: 0.29s;
    -ms-animation-delay: 0.29s;
    -webkit-animation-delay: 0.29s;
    -moz-animation-delay: 0.29s;
}
.cssload-loading:after, .cssload-loading:before {
    position: absolute;
    content: '';
    animation: cssload-upDown 1.15s ease infinite;
    -o-animation: cssload-upDown 1.15s ease infinite;
    -ms-animation: cssload-upDown 1.15s ease infinite;
    -webkit-animation: cssload-upDown 1.15s ease infinite;
    -moz-animation: cssload-upDown 1.15s ease infinite;
    animation-direction: alternate;
    -o-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
}
.cssload-loading:before {
    left: -15px;
}
.cssload-loading:after {
    left: 15px;
    animation-delay: 0.58s;
    -o-animation-delay: 0.58s;
    -ms-animation-delay: 0.58s;
    -webkit-animation-delay: 0.58s;
    -moz-animation-delay: 0.58s;
}




@keyframes cssload-upDown {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(-20px);
    }
}

@-o-keyframes cssload-upDown {
    from {
        -o-transform: translateY(20px);
    }
    to {
        -o-transform: translateY(-20px);
    }
}

@-ms-keyframes cssload-upDown {
    from {
        -ms-transform: translateY(20px);
    }
    to {
        -ms-transform: translateY(-20px);
    }
}

@-webkit-keyframes cssload-upDown {
    from {
        -webkit-transform: translateY(20px);
    }
    to {
        -webkit-transform: translateY(-20px);
    }
}

@-moz-keyframes cssload-upDown {
    from {
        -moz-transform: translateY(20px);
    }
    to {
        -moz-transform: translateY(-20px);
    }
}

@keyframes cssload-upDown2 {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(-20px);
    }
}

@-o-keyframes cssload-upDown2 {
    from {
        -o-transform: translateY(30px);
    }
    to {
        -o-transform: translateY(-20px);
    }
}

@-ms-keyframes cssload-upDown2 {
    from {
        -ms-transform: translateY(30px);
    }
    to {
        -ms-transform: translateY(-20px);
    }
}

@-webkit-keyframes cssload-upDown2 {
    from {
        -webkit-transform: translateY(30px);
    }
    to {
        -webkit-transform: translateY(-20px);
    }
}

@-moz-keyframes cssload-upDown2 {
    from {
        -moz-transform: translateY(30px);
    }
    to {
        -moz-transform: translateY(-20px);
    }
}

#map {
    height: 500px;
    width: 100%;

    position: relative;
}

.map-bottom{
    position: relative;
}

#textDiv{
    text-align: center;
    font-size: 20px;
    font-family: Roboto;

    position: absolute;
    bottom: 70px;
    width: 100%;
    text-align: center;
}

.textDivDisplay{
    font-size: 32px !important;
    font-weight: 500 !important;
}

#petitTextDiv{
    text-align: center;
    font-size: 28px;
    color: #222222;
    font-family: Roboto;

    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}



#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 600px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#selectModeSuivi{
    margin-top: 10px;
    margin-left: 5px;
    height: 32px;

    border: none;
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

    cursor: pointer;
}

#centerMap{
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    margin-left: 5px;

    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;

    display: flex;
    justify-content: center;
}

#centerMap:hover{
    cursor: pointer;
}

.bottomButton{
    margin: 20px 5px;
    padding: 7px;

    font-family: Roboto;
    font-size: 17px;

    background-color: white;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.bottomButton:hover{
    cursor: pointer;
}


@media screen and (max-width: 1050px){
    #pac-input {
        width: 400px;
    }
}

@media screen and (max-width: 875px){
    #pac-input {
        width: 300px;
    }
}






.saveButton{
    top: 165px !important;

    height: 100px;

    flex-direction: column;
    align-items: center;
}

.saveButton span{
    padding-right: 0 !important;
}

.mapOverlayContainer{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 80px;

    display: none;
}

.formPopUp{
    width: 70%;
    height: 90%;
    max-height: 572px;
    background-color: #fff;

    z-index: 500;

    overflow-y: auto;

    padding: 0 15px;
}

.formContainer *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

input{
    font-family: 'Source Sans Pro';
}

input::placeholder{
    color: #333;
}

.form-facultatif{
    font-weight: 300;
    color: #3b3b3b;

    margin-top: 12px;
    margin-bottom: 12px;
}

.titre-input{
    width: 100%;
    height: 45px;

    border: solid 1px #999;
    border-radius: 2px;

    padding-left: 20px;

    font-size: 15px;
}

.typeSport-title {
    font-size: 18px;
    font-weight: 600;

    margin-bottom: 0;
}

.typeSport-container{
    display: flex;
    justify-content: space-evenly;

    margin: 25px 0;
}

.typeSport-container label{
    display: none;

}
.checkbox-label{
    display: block !important;
}

.description-input{
    width: 100%;

    border: solid 1px #999;
    border-radius: 2px;

    padding: 10px 20px;
    margin-top: 10px;

    font-size: 15px;
    font-family: 'Source Sans Pro';

    resize: none;
}

fieldset{
    display: none;
}

.image-title{
    margin-bottom: 5px;
}

.submit-input{
    width: 100%;
    background-color: #3ba14c;
    border-radius: 2px;

    margin: 15px 0;

    padding: 12px;

    font-size: 22px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    color: white;
}





.rightButton{
    width: 75px;
    padding: 0;
    background-color: #fff;
    border-radius: 0 50px 25px 0;

    transition: all 0.1s ease-in-out;

    display: flex;
}

.rightButton span{
    color: #3ba14c;
    font-size: 16px;
    font-weight: 600;

    padding-right: 5px;
}

.boutonMenuLateralStyle span{
    display: none;
}

.boutonMenuLateralStyle:hover{
    width: 150px;

    transition: all 0.1s ease-in-out;
}

.boutonMenuLateralStyle:hover span{
    display: block;
}

.rightButton img{
    padding-right: 5px;
    padding-top: 3px;
}

.boutonMenuLateralStyle{
    top: 75px !important;

    height: 75px;

    justify-content: center;
    align-items: center;
}

#menuGauche-message{
    text-align: center;

    margin-top: 100px;
}

#menuGauche{
    display: none;
    z-index: 3;

    width: 400px;
    margin-top: 80px;

    background-color: #fff;

    position: absolute;
    top: 0;
    left: 0;
}

.mapFilter{
    display: none;
    z-index: 2;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 0;
    left: 0;
}


#menuGauche-interieur{
    display: none;
    height: 100%;
}


.menuGauche-partie{
    height: 20%;
}

#temps-necessaire-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.temps-necessaire-texte{
    margin: 0;

    text-align: center;
}

.temps-necessaire-formcontainer{
    display: flex;
    justify-content: center;

    padding: 5px 0;
}

#temps-necessaire-input{
    width: 20px;
    height: 21px;

    border: solid 1px #3ba14c;
    border-radius: 2px;

    margin-right: 2px;
}

.temps-necessaire-soustexte{
    font-weight: 300;
    font-size: 15px;
    text-align: center;

    margin: 0;
}

#temps-necessaire-resultat-partie{
    display: none;
}

.temps-necessaire-resultat-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#temps-necessaire-resultat{
    margin: 0;
    text-align: center;
}

#temps-necessaire-resultat-btn{
    background-color: #3ba14c;
    padding: 5px 30px;
    margin-top: 15px;

    color: white;
    font-weight: 400;
    font-size: 14px;
    border-radius: 3px;
}

.menuGauche-btn-submit{
    background-color: #3ba14c;
    width: 30px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1px;
}

.menuGauche-btn-submit img{
    width: 16px;
    height: 16px;
}


@media screen and (max-height: 720px){
    .temps-necessaire-texte{
        font-size: 15px;
    }

    .temps-necessaire-formcontainer{
        padding: 3px 0;
    }

    .temps-necessaire-soustexte{
        font-size: 14px;
    }

    .vitesse-moyenne-texte{
        font-size: 14px;
    }
}

.vitesse-moyenne-souscontainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vitesse-moyenne{
    margin-top: -5px;
}

.vitesse-moyenne-texte{
    text-align: center;

    padding-bottom: 5px;
    margin: 0;
}

.vitesse-input{
    width: 20px;
    height: 21px;

    border: solid 0.5px #c6c6c6;
    border-radius: 2px;

    padding-right: 3px;
    margin-right: 0;
    margin-left: -1px;

    text-align: right;
}

.vitesse-input:last-child{
    margin-right: 1px;
}

.vitesse-moyenne-formcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vitesse-moyenne-inputcontainer{
    padding: 1px;

    border: solid 1px #3ba14c;
    border-radius: 2px;

    margin-right: 2px;
}

.vitesse-moyenne-submit{
    height: 29px;
}

#vitesse-moyenne-resultat-container{
    display: none;
}

.vitesse-moyenne-resultat-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#vitesse-moyenne-resultat{
    margin: 0 30px;
    text-align: center;
}

#vitesse-moyenne-resultat-btn{
    background-color: #3ba14c;
    padding: 5px 30px;
    margin-top: 15px;

    color: white;
    font-weight: 400;
    font-size: 14px;
    border-radius: 3px;
}



.menuGauche-partie-container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    margin-top: -3px;
}

.menuGauche-partie-temps-sport{
    max-width: 200px;

    margin-left: 50px;

    text-align: center;
}

.sepa-container{
    display: flex;
    justify-content: center;

    height: 3px;
    width: 100%;
}

.menuGauche-sepa{
    width: 50%;

    background-color: #3ba14c;
}

.topo-title{
    font-weight: 400;
    margin: 25px 0 10px 15px;
}

#topo-container{
    display: none;
}

#topo-btn{
    background-color: #3ba14c;
    border-radius: 2px;

    padding: 5px 10px;
    margin-left: 15px;

    font-weight: 300;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    color: white;
}

.deniveles-container{
    text-align: center;
}

.deniveles-container span{
    font-weight: 600;
}

.denivele-padding{
    padding: 15px;
}



.tutoMapOverlayContainer{
    display: block;
}

.tutoBigContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    position: relative;
}

.fakeBtn{
    position: absolute;
    z-index: 5;
}

.fakeBtn1{
    left: 0;
}

.fakeBtn2{
    right: 0;
    top: 45px;
}

.tuto-btns{
    position: absolute;
    z-index: 3;
    width: 100px;

    color: white;
    font-size: 18px;

    margin: 0;
}

.tuto-menuGauche{
    top: 40%;
    left: 30px;

    width: 115px;
}

.tuto-savePath{
    top: 90px;
    right: 50px;

    text-align: right;
}

.tutoContainer{
    z-index: 3;

    background-color: #fff;
    border-radius: 3px;
}

.mapFilterTuto{
    display: block;
}

.tuto-title{
    font-family: 'Montserrat', 'Source Sans Pro';
    font-size: 20px;

    margin: 20px 30px;
}

.tuto-contentContainer{
    display: flex;
    justify-content: center;
}

.tuto-partContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 50px;
}

.tuto-sepa{
    width: 1px;
    height: 75px;
    background-color: #000;

    margin-top: 15px;
}

.tuto-part-clickimg{
    margin-top: 10px;
}

.tuto-partContainer p{
    width: 225px;

    text-align: center;
    font-size: 18px;

    margin-top: 10px;
    margin-bottom: 0;
}

.tuto-shortcuts-container{
    display: flex;
    justify-content: center;
}

.tuto-shortcut{
    margin: 0 10px;
}

.tuto-shortcut span{
    font-weight: bold;
}

.tuto-link{
    margin-left: 30px;

    font-weight: 600;
}

.tuto-btnContainer{
    display: flex;
    justify-content: center;

    padding: 10px 30px 0 30px;
}

#tuto-btn{
    background-color: #3ba14c;
    width: 100%;
    height: 40px;

    font-family: 'Source Sans Pro';
    font-size: 20px;
    color: white;

    border-radius: 3px;

    margin-bottom: 15px;
}

@media screen and (max-width: 1000px){
    .tuto-btns{
        font-size: 16px;
    }

    .tuto-partContainer{
        margin: 0 30px;
    }
}

@media screen and (max-width: 900px){
    .tuto-menuGauche{
        width: 100px;
        top: 39%;
    }

    .tuto-partContainer{
        margin: 0;
    }

    .tuto-shortcut{
        font-size: 14px;
    }
}

@media screen and (max-width: 850px){
    .tuto-partContainer p{
        width: 200px;

        font-size: 16px;
    }

    .tuto-shortcut{
        font-size: 12px;
    }

    .tuto-btnContainer{
        padding: 10px 10px 0 10px;
    }

    #tuto-btn{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 800px){
    .tuto-btns{
        width: 75px;

        font-size: 14px;
    }
}

@media screen and (max-width: 770px){
    .tuto-title{
        font-size: 18px;
    }

    .tuto-partContainer p{
        width: 175px;
        font-size: 14px;
    }

    .tuto-shortcut{
        font-size: 10px;
    }
}