#container{
    display: block;

    position: absolute;
    top: 150px;
    left: 0px;

    height: 50px;
    background-color: #555;
    opacity: 0.8;

    z-index: 1;
    border-radius: 0 5px 5px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message{
    padding-left: 15px;
    padding-right: 15px;

    color: #eee;
}

#hideButton{
    border: none;
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    opacity: 0.8;

    margin-right: 25px;
    padding: 0;
}