body{
    margin: 0;
    padding: 0;

    height: 100%;

    font-family: 'Source Sans Pro';
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    cursor: pointer;
    font-family: 'Source Sans Pro';
}



@media screen and (max-width: 640px) {
    html {
        height: 100%;
    }

    .mobile {
        display: block !important;

        background: linear-gradient(240.94deg, #3BA14C 0%, #5CF776 101.17%);
        width: 100%;
        height: 100%;
    }

    .mobile-header {
        padding-left: 30px;
        padding-top: 30px;

        display: flex;
        align-items: center;
    }

    .mobile-header-logo {
        margin: 0 !important;
    }

    .mobile-header-title {
        padding-left: 10px;
    }

    .header-title{
        font-size: 38px !important;
    }

    .mobile h1 {
        margin: 0;
    }

    .mobile-comingsoon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 100px;
    }

    .mobile-comingsoon p {
        color: white;
        font-weight: 600;
        font-size: 28px;

        margin: 5px;
    }

    .mobile-unavailable {
        color: white;
        text-align: center;
        font-size: 24px;

        margin: 30px 0 0 0;
    }

    .desktop {
        display: none;
    }
}

.mobile{
    display: none;
}


.header-hamburgermenu{
    display: none;
    position: relative;

    width: 100%;
    height: 50px;
}

.header-hamburgermenu-hamburger-container{
    position: absolute;
    right: 30px;
}

.hamburger-menu{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;

    background-color: rgba(59, 161, 76, 0.9);
    width: 100%;
}

.hamburger-menu-display{
    display: flex;
}

.hamburger-menu-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger-menu-header-account a{
    font-size: 16px !important;
    padding: 10px 45px !important;
}

.hamburger-menu-nav-onglets{
    list-style-type: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;
}

.hamburger-menu-nav-item{
    margin: 15px 0 !important;
    font-size: 18px;
    color: #fff !important;
}

@media screen and (max-width: 1060px) {
    .header-navbar, .header-account{
        display: none !important;
    }

    .header-hamburgermenu{
        display: block !important;
    }

    .hamburger-menu-header-account{
        display: flex !important;
    }
}

.menuEight{
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.menuEight span{
    background-color:#FFF;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
}
.menuEight span:nth-child(1){
    top:0px;
    left: 0px;
}
.menuEight span:nth-child(2){
    top:13px;
    left: 0px;
}
.menuEight span:nth-child(3){
    bottom:0px;
    left: 0px;
}
.menuEight:not(.clickMenuEight):hover span:nth-child(1){
    transform: scaleX(.8);
}
.menuEight:not(.clickMenuEight):hover span:nth-child(2){
    transform: scaleX(.5);
}
.menuEight:not(.clickMenuEight):hover span:nth-child(3){
    transform: scaleX(.8);
}
.clickMenuEight span:nth-child(1){
    top: 13PX;

}
.clickMenuEight span:nth-child(2){

}
.clickMenuEight span:nth-child(3){
    top: 13PX;
}



.header{
    width: 100%;
    height: 80px;

    margin: 0;
    padding: 0;

    background: rgb(71,198,93);
    background: linear-gradient(38deg, rgba(71,198,93,1) 0%, rgba(59,161,76,1) 42%, rgba(34,138,49,1) 100%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;

    position: relative;
    z-index: 30;
}

.header-itinr{
    margin-left: 25px;

    display: flex;
    align-items: center;
}

.header-itinr img{
    margin-right: 15px;
}

.header-title{
    color: white;
    font-size: 38px;

    font-family: 'Montserrat', sans-serif;
}

.header-beta{
    background-color: white;
    border-radius: 3px;

    padding: 2px 5px;
    margin: 0 0 -8px 5px;

    color: #3ba14c;
    font-size: 12px;
}

.header-account{
    display: flex;
    justify-content: center;

    position: absolute;
    right: 25px;

}

.btn-account{
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 500;
    color: white;

    background: none;
    border: 1px solid white;
    border-radius: 2px;

    margin: 30px;

    display: flex;
    align-items: center;
}

.btn-account:hover{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    color: #228A31;

    background: rgb(255,255,255);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(237,255,240,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0%,rgba(237,255,240,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0%,rgba(237,255,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edfff0',GradientType=1 );
}

.user-image-container{
    margin-left: 10px;
}

.btn-account-gauche{
    margin-right: 0px;
}

.header-account-signup, .header-account-signin{
    padding: 10px 45px;
}

.header-account-signed, .header-account-signout{
    padding: 7px 45px;
}






.nav_onglets{                    /*barre de navigation*/
    list-style-type: none;
    display: flex;

    padding: 0;
}

.nav-item{                                         /*effet de grossissement des onglets de la barre de navigation*/
    margin-left: 75px;
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0.8);
    transition: width .3s;
}

.nav-item:hover::after {
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sub-nav{
    display: none;

    position: absolute;
    top: 80px;
    left: 0;

    background-color: rgb(76,210,99);

    width: 100%;

    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.sub-nav-ul{
    display: flex;
    justify-content: space-evenly;

    list-style: none none;
    white-space: nowrap;

    margin: 0;
    padding: 0;
}

.sub-nav-ul li{
    padding: 15px 0;
    font-weight: 300;
    color: white;
}

.caretdown{
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    opacity: 0.8;
}

.caretup{
    -webkit-transition: ease-in-out .9s;
    -moz-transition: all .9s;
    -o-transition: all .9s;
    transition: all .9s;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    opacity: 0.8;
}

.sub-nav-ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0.8);
    transition: width .3s;
}

.sub-nav-ul li:hover::after {
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 1235px){
    .nav_onglets{
        font-size: 15px;
    }

    .header-account-signed, .header-account-signout, .header-account-signin, .header-account-signup{
        padding: 7px 30px;
    }

    .header-account{
        right: 10px;
    }
}

@media screen and (max-width: 1150px){
    .header-account{
        right: 0px;
    }

    .btn-account{
        font-size: 15px;
    }

    .btn-account-droite{
        margin-left: 15px;
    }
}

@media screen and (max-width: 1105px){
    .nav-item{
        margin-left: 50px;
    }
}

@media screen and (max-width: 1030px){
    .header-account-signed, .header-account-signout, .header-account-signin, .header-account-signup{
        padding: 7px 15px;
    }

    .btn-account-droite{
        margin-right: 15px;
    }

    .header-title{
        font-size: 36px;
    }
}

@media screen and (max-width: 950px) {
    .nav-item {
        margin-left: 30px;
    }
}

@media screen and (max-width: 895px) {
    .user-image-container img{
        width: 75%;
    }

    .nav_onglets{
        font-size: 14px;
    }

    .header-title{
        font-size: 36px;
    }

}

@media screen and (max-width: 875px) {
    .header-account-signed, .header-account-signout, .header-account-signin, .header-account-signup{
        padding: 7px 10px;
    }

    .btn-account-droite {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 845px) {
    .nav-item{
        margin-left: 20px;
    }
}

@media screen and (max-width: 805px) {
    .header-title{
        font-size: 34px;
    }

    .header-beta{
        padding: 2px 3px;
        font-size: 11px;
    }
}



.titre{
    font-weight: 600 !important;
}





.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
}

.footer-contentrs{
    display: flex;
    justify-content: center;
}

.footer-rs{
    list-style-type: none;
    display: flex;

    margin: 0;
    padding: 0;
}

.footer-rs li{
    margin: 0 10px;
}

.footer-contentseparation{
    width: 100px;
    height: 5px;

    margin-top: 20px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #228A31;
}

.footer-link-container{
    font-weight: 300;
    font-size: 15px;

    margin: 10px;
}

.footer-link-container span{
    padding: 5px;
}

.footer-author{
    margin-top: 0;
}

.footer-date{
    font-weight: 300;

    margin-top: -10px;
}