.margin-left{
    margin-left: 30px;
    margin-right: 30px;
}

.titre{
    font-size: 36px;
    font-family: 'Montserrat', 'Source Sans Pro';

    line-height: 40px;

    margin-top: 30px;
    margin-bottom: 10px;

    display: flex;
}

.titre-separation{
    width: 150px;
    height: 5px;

    background-color: #3ba14c;
}


.section1-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bonjour-container{
    display: flex;
    align-items: center;

    font-weight: 300;
    font-size: 20px;

    margin-top: 5px;
}

.bonjour-container a{
    width: 24px;
    height: 24px;
}

.avatar-container{
    border: solid 1px #3ba14c;
    border-radius: 20px;

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
}

.mon-avatar-container:hover{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    background-color: rgba(0, 0, 0, 0.3);
}

.avatar{
    width: 24px;
    height: 24px;
}

.bonjour-nom{
    font-weight: 600;
}

.modifier{
    display: flex;
    align-items: center;

    font-size: 20px;
    color: #222;
}

.modifier img{
    padding-left: 15px;
}



h2{
    font-weight: 400;
}

.informations-titre{
    margin-top: 10px;
    margin-bottom: 5px;
}

.informations-content{
    font-weight: 300;
}
.informations-content span{
    font-weight: 600;
    padding-left: 10px;
}

.informations-privacy{
    display: flex;
    align-items: center;
}

.informations-privacy img{
    padding-right: 5px;
}


.itineraires-titre{
    margin-top: 25px;
    margin-bottom: 10px;
}

.itineraires-titre span{
    font-weight: 600;
    padding-left: 10px;
}

.itineraires-titre-profil-span{
    padding-left: 0 !important;
}

.itineraires-vide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.itineraires-vide img{
    padding-right: 10px;
}

.itineraires-vide-p{
    font-size: 18px;
}

.itineraires-vide-p span{
    font-weight: 600;
}

.resultats-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;

    width: 100%;
}

.resultat-container{
    border: solid 2px #3ba14c;
    border-radius: 3px;

    height: 150px;

    overflow: hidden;

    position: relative;
}

.resultat-margin-left{
    margin-left: 20px;
}

.resultat-titre{
    margin: 10px 10px 3px 20px;

    font-size: 18px;
    font-weight: 600;
}

.resultat-titre-sepa{
    width: 25px;
    height: 3px;

    background-color: #3ba14c;

    margin-left: 20px;
}

.resultat-typeSport{
    display: flex;
}

.resultat-typeSport img{
    width: 20px;
    height: 20px;

    padding-right: 5px;
}

.resultat-auteur{
    font-weight: 300;
}

.resultat-auteur span{
    font-weight: 500;
}

.resultat-presDe{
    font-weight: 300;
}

.resultat-presDe span{
    font-weight: 500;
}

.resultat-distance{
    position: absolute;
    top: 10px;
    right: 15px;

    margin: 0;

    font-weight: 300;
    font-size: 18px;
}

.resultat-distance span{
    font-weight: 500;
}


.itineraires-container{
    margin-bottom: 25px;
}

.itineraires-null{
    margin-bottom: 5px;
    margin-top: 10px;

    font-size: 18px;
}

.itineraires-null-a{
    font-weight: 300;
}

.delete-container{
    background-color: rgba(231, 76, 60, 0.1);
    border: solid 1px rgba(231, 76, 60,1.0);
    border-radius: 3px;
    box-sizing: border-box;

    padding: 7px 15px 7px 20px;

    color: rgba(231, 76, 60,1.0);
    font-weight: bold;
    font-family: 'Source Sans Pro';
    font-size: 16px;
}

#deleteNotice{
    display: none;
}

#deleteNotice p{
    margin: 5px 0;
}

.deleteNotice-btn{
    background-color: rgba(231, 76, 60,1.0);
    border-radius: 3px;

    color: white;
    font-weight: 500;
    font-family: 'Source Sans Pro';
    font-size: 15px;

    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    box-sizing: border-box;
}