.margin-left{
    margin-left: 30px;
    margin-right: 30px;
}

.titre{
    font-size: 36px;
    font-family: 'Montserrat', 'Source Sans Pro';

    line-height: 40px;

    margin-top: 30px;
    margin-bottom: 15px;
}

.titre-separation{
    width: 150px;
    height: 5px;

    background-color: #3ba14c;
}

.resultatsNb span{
    font-weight: 600;
}

.resultats-bigcontainer{
    padding-right: 30px;
    padding-left: 30px;

    margin-top: 10px;
}

.resultats-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;

    width: 100%;
}

.resultat-container{
    border: solid 2px #3ba14c;
    border-radius: 3px;

    height: 175px;

    overflow: hidden;

    position: relative;
}

.resultat-margin-left{
    margin-left: 20px;
}

.resultat-titre{
    margin: 10px 10px 3px 20px;

    font-size: 18px;
    font-weight: 600;
}

.resultat-titre-sepa{
    width: 25px;
    height: 3px;

    background-color: #3ba14c;

    margin-left: 20px;
}

.resultat-typeSport{
    display: flex;
}

.resultat-typeSport img{
    width: 20px;
    height: 20px;

    padding-right: 5px;
}

.resultat-auteur{
    font-weight: 300;
}

.resultat-auteur span{
    font-weight: 500;
}

.resultat-presDe{
    font-weight: 300;
}

.resultat-presDe span{
    font-weight: 500;
}

.resultat-distance{
    position: absolute;
    top: 10px;
    right: 15px;

    margin: 0;

    font-weight: 300;
    font-size: 18px;
}

.resultat-distance span{
    font-weight: 500;
}