<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} | Movee{% endblock %}</title>
    <link rel="stylesheet" href=" {% block stylesheets %}{% endblock %}">
</head>
<body>
{# {{ include("autre/includes/header.html.twig") }} #}
{% block body %}{% endblock %}



{% block javascripts %}<script src=" {{ asset('build/js/app.js') }} "></script>{% endblock %}
</body>
</html>
