<link rel="stylesheet" href="{{ asset('build/flash_messages.css') }}"/>

{% block flash_messages %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div id="message-container">
                <p class="message">{{ message | raw }}</p>
                <button id="hideButton" onclick="cacherBouton()"></button>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

<script>
    /*var hideButton = document.getElementById("hideButton");
    var container = document.getElementById("message-container");

    function cacherBouton(){
        container.style.display = "none";
        alert('hello');
    }

    if(container =! null){
        setTimeout(cacherBouton, 10000);
    }*/

</script>