{% extends 'base.html.twig' %}

{% block title %}Erreur 404{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/erreur.css') }}{% endblock %}

{% block body %}
    <div class="margin-left">
        <h1 class="titre">Erreur 404</h1>
        <div class="titre-separation"></div>

        <div class="container">
            <p class="p1">Aucune page ne correspond à cette adresse</p>
            <p class="p2">Vous êtes perdu.e, n'est-ce pas ?</p>
            <iframe src="https://giphy.com/embed/26gJyEBhfuz3ncQfu" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/southparkgifs-26gJyEBhfuz3ncQfu">via GIPHY</a></p>
        </div>

        <p>Si ce problème persiste, faites-nous en part via nos réseaux sociaux ou via <a href="{{ path('contact') }}">la page contact</a></p>
    </div>
{% endblock %}